<!DOCTYPE html>
<html>
<body>

<h1>My Generated Webpage</h1>

<p>My Generated text</p>

<font color="red">Some ships<br>
<img src="01.jpg" width = 200 height = 120><br>
<img src="02.jpg" width = 200 height = 120><br>

<font color="blue">Server hostname is: {{ ansible_hostname }}<br>
<font color="blue">Server OS Family is: {{ ansible_os_family }}<br>
<font color="blue">IP Address of server is: {{ ansible_default_ipv4.address }}<br>

<a href="info.php">Check PHP</a><br> 
<a href="mysql.php">Check MySql connection</a> 
</body>
</html>
