# MariaDB CentOS repository list
# https://mariadb.org/download/
[mariadb]
name = MariaDB
baseurl = https://mirror.nextlayer.at/mariadb/yum/{{ mysql_major_version }}/centos7-amd64
gpgkey=https://mirror.nextlayer.at/mariadb/yum/RPM-GPG-KEY-MariaDB
gpgcheck=1

